body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: .25em;
    padding: .25em;
    text-align: center;
    font-size: small;
    color: #134f98;
    /* outline: .5em dotted yellow; */
}
#wrapper {
    max-height: 98vh;
}
header{   
    text-size-adjust: 25%;
}
main{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}
#quizContainer{
border-radius: 1em;
min-height: 40vh;
width: 80w;
}
#questionContainer, #answerContainer {
    width: 75vw;
}
div {
    padding: .5em;
    margin: .5em;
}
.container, button, div {
    border-radius: 1em;
}
#question{
    font-weight: bold;
    font-size: larger;
    color:#134f98;
} 
#startButton {
    background-color:#ffb227;
    border: none;
    font-size: x-large;
    font-weight: bold;
    min-width: 25vw;
    min-height: 8vh;
    color:white;
    animation-name: startUp;
    /* animation-duration: 1.5s; */
    animation-iteration-count: infinite;
}
@keyframes startUp {
    from {background-color: transparent;}
    to {background-color: #ffb227;}
}
.answer button {
    font-weight: bold;
    font-size: medium;
    border: none;
    background-color:#134f98;
    color: white;
    padding: .75em;
    width: 75vw;
}
.answer :hover {
    background-color: rgb(122, 122, 255);
    /* opacity: .75; */
} 
#encouragement {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    font-stretch: expanded;
    text-transform: uppercase;
    color: rgb(115, 113, 113);
}
aside {
    display: inline-flex;
    justify-content: center;
    font-size:2em;
}
#score, #totalQuestions{
    max-width: 20vw;
    min-width: 8vw;
    background-color:#134f98;
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .1;
}


/* .dim{
    opacity: 1.25;
  } */