body {
    font-family:Arial, Helvetica, sans-serif;
    display: flexbox;
    margin: .25em;
    padding: .25em;
    text-align: center;
    color: #134f98;
    max-height: 85vh;
}
.hide {
    display: none;
}
.show {
    display: contents;
}
.answer:hover {
    background-color: rgb(122, 122, 255);
} 
#questionContainer, #answerContainer {
    width: 79vw;
    display: flexbox;
    text-align: center;
    margin-left: 2.5em;
}
.encouragement {
    max-width: 150px;
    max-height: 150px;
    border-radius: 1em;
}
#quizContainer{
min-height: 40vh;
width: 80w;
}
#quizTime {
    filter: saturate(.4);
}
h1 {
    font-size: 2.75em;
}
#startButton {
    background-color:#ffb227;
    font-size: 3.5rem;
    font-weight: bold;
    min-width: 25vw;
    min-height: 25vh;
    color:#134f98;
    display: inline-flexbox;
    justify-content: center;
    align-self: center;
    margin-top: 10vh;
    animation-name: startUp;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
}
@keyframes startUp {
    from {background-color: transparent;}
    to {background-color: #ffb227;}
}
label {
    font-size: medium;
}
#start-screen {
    display: flex;
    align-items: center;
    min-height: 90vh;
}
.container, button, div {
    border-radius: 1em;
    min-width: 25vw;
    min-height: 8vh;
    padding: .5em;
    margin: .5em;
}
.answer button, button {
    font-weight: bold;
    font-size: medium;
    flex-wrap: wrap;
    border: none;
    background-color:#134f98;
    color: white;
    padding: .75em;
    width: 75vw;
    align-self: center;
}
#encouragement {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    font-stretch: expanded;
    text-transform: uppercase;
    color: rgb(115, 113, 113);
}
aside {
    display: inline-flex;
    justify-content: center;
    align-self: flex-end;
    margin:0;
    padding: 0.25em;

}
#score, #totalQuestions{
    max-width: 20vw;
    min-width: 7vw;
    background-color:#134f98;
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .1;
    font-size: 2em;
    padding: .1;
    align-self: center;
    text-align: center;
}